@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category Page";
}

<h1>Category Page</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td style="width:50%">
                    @obj.Name
                </td>
                <td style="width:30%">
                    @obj.DisplayOrder
                </td>
                <td style="width:10%">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                </td>
                <td style="width:10%">
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>